@use '../global.scss' as *;

.form {
  width: 350px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  border-radius: 5px;

  div {
    &:nth-child(1) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url('../../images/logo1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
      }
    }
  }

  a {
    text-decoration: underline;
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.808);
    letter-spacing: 2px;
    margin: 10px;
    transition: color 200ms ease;

    &:hover {
      color: $color-primary;
    }
  }

  textarea {
    flex-grow: 1;
    font-size: 0.8rem;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 0.7rem;
    outline: none;
    border: none;
    resize: none;

    &::placeholder {
      color: rgb(94, 93, 93);
    }
  }

  .file {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 12px;
    border-radius: 2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.808);
    font-size: 1rem;
  }
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/background.jpg');
  background-size: cover;

  h1 {
    color: rgba(0, 0, 0, 0.808);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.7rem;
  }
}

.form-group {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  span {
    color: rgba(0, 0, 0, 0.808);
    font-size: 1.2rem;
    font-weight: 500;
  }

  input {
    flex-grow: 1;
    font-size: 0.8rem;
    border-radius: 2rem;
    color: rgba(0, 0, 0, 0.808);
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 0.8rem;
    outline: none;
    border: none;

    &::placeholder {
      color: rgb(94, 93, 93);
    }
  }
}

.submit {
  background-color: rgba(255, 255, 255, 0.659);
  text-align: center;
  color: rgba(0, 0, 0, 0.808);
  font-size: 0.8rem;
  width: fit-content;
  margin: 10px;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color ease 200ms;

  &:hover {
    background-color: rgba(195, 193, 193, 0.497);
  }
}
