@use '../../sass/global.scss' as *;

.reserve_section {
	position: relative;
	background: url('../../images/logo1.svg') no-repeat center;
	background-size: contain;
}

.reserve_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20%;
	min-height: 100vh;
	overflow: hidden;
	gap: 30px;
	text-align: center;
	background-color: hsla(76, 97%, 38%, 0.918);

	.search_container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 20px;
		top: 18px;
		width: 42px;
		background-color: white;
		height: 34px;
		border-radius: 50px;

		svg {
			fill: $color-primary;
			transform: rotate(90deg);
		}
	}

	.reserve_content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		h1 {
			color: white;
			border-bottom: 1px solid rgba(255, 255, 255, 0.479);
			padding-bottom: 15px;
			text-transform: uppercase;
			letter-spacing: 6px;
		}
		p {
			color: white;
			font-size: 0.8rem;
			line-height: 2.2;
		}
	}
}

form {
	display: flex;
}

.city {
	[class$='-control'] {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		background-color: $color-primary;
		border: 1px solid white;
		padding: 2px 5px;

		&:hover {
			border: 1px solid $color-darkGray;
		}

		border-radius: 50px;
		[class$='-ValueContainer'] {
			[class$='-singleValue'] {
				color: white;
				font-size: 0.8rem;
				width: 70px;
			}
			[class$='-Input'] {
				color: white;
				width: 80px;
				font-size: 0.8rem;
			}
			[class$='-placeholder'] {
				color: white;
				font-size: 0.8rem;
			}
		}
		[class$='-IndicatorsContainer'] {
			[class$='-indicatorSeparator'] {
				display: none;
			}
			[class$='-indicatorContainer'] {
				svg {
					fill: white;
				}
			}
		}
	}
	[class$='-menu'] {
		border-radius: 10px 0 0 10px;
		background-color: $color-darkGray;

		[class$='-MenuList'] {
			border-radius: 10px 0 0 10px;
			max-height: 100px;
			&::-webkit-scrollbar {
				width: 2px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: $color-darkGray;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: white;
			}
			[class$='-option'] {
				font-size: 0.8rem;
				color: white;
				cursor: pointer;

				&:hover,
				&:focus,
				&:active {
					color: $color-darkGray;
					background-color: white;
				}
			}
		}
	}
}
