@use '../../sass/global.scss' as *;

.reserve_section {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reserve_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  gap: 30px;
  text-align: center;
  background-color: hsla(76, 98%, 32%, 0.897);

  .search_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 18px;
    width: 42px;
    background-color: white;
    height: 34px;
    border-radius: 50px;

    svg {
      fill: $color-primary;
      transform: rotate(90deg);
    }
  }

  .reserve_content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;

    @include mq('md', max) {
      font-size: 0.9rem;
    }

    gap: 20px;

    h1 {
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.479);
      padding-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 6px;
    }

    p {
      color: white;
      font-size: 0.8rem;
      line-height: 2.2;

      @include mq('md', max) {
        font-size: 0.7rem;
      }
    }
  }
}

.reserve_form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.city {
  [class$='-control'] {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    border: 1px solid white;
    padding: 2px 5px;
    width: 150px;

    &:focus-within,
    &:hover {
      border: 1px solid $color-darkGray;
      background-color: $color-darkGray;
    }

    border-radius: 50px;

    [class$='-ValueContainer'] {
      [class$='-singleValue'] {
        color: white;
        font-size: 0.8rem;
        width: 80px;

        @include mq('md', max) {
          font-size: 0.6rem;
        }
      }

      [class$='-Input'] {
        color: white;
        width: 80px;
        font-size: 0.8rem;

        @include mq('md', max) {
          font-size: 0.6rem;
        }
      }

      [class$='-placeholder'] {
        color: white;
        font-size: 0.8rem;

        @include mq('md', max) {
          font-size: 0.6rem;
        }
      }
    }

    [class$='-IndicatorsContainer'] {
      [class$='-indicatorSeparator'] {
        display: none;
      }

      [class$='-indicatorContainer'] {
        svg {
          fill: white;
        }
      }
    }
  }

  [class$='-menu'] {
    border-radius: 10px 0 0 10px;
    background-color: $color-darkGray;

    [class$='-MenuList'] {
      border-radius: 10px 0 0 10px;
      max-height: 100px;

      &::-webkit-scrollbar {
        width: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $color-darkGray;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: white;
      }

      [class$='-option'] {
        font-size: 0.8rem;
        color: white;
        cursor: pointer;

        @include mq('md', max) {
          font-size: 0.6rem;
        }

        &:hover,
        &:active {
          color: $color-darkGray;
          background-color: white;
        }
      }
    }
  }
}

.reservation_submit {
  padding: 11px 10px;
  border-radius: 50px;
  color: $color-primary;
  cursor: pointer;
  font-weight: 600;
  width: 150px;
  border: none;
  transition: all 0.2s ease-in;

  @include mq('md', max) {
    font-size: 0.6rem;
  }

  &:hover {
    background-color: $color-darkGray;
    color: white;
  }
}

.reserve_date {
  padding: 13px 0 13px 25px;
  cursor: pointer;
  color: white;
  width: 150px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: $color-primary;

  @include mq('md', max) {
    font-size: 0.6rem;
    width: 145px;
    height: 40px;
  }

  &::placeholder {
    color: white;
    font-size: 0.8rem;

    @include mq('md', max) {
      font-size: 0.6rem;
    }
  }

  &:focus-within,
  &:hover {
    border: 1px solid $color-darkGray;
    background-color: $color-darkGray;
  }
}

.reserve_calender {
  background-color: $color-primary;
  color: aliceblue;
  margin: 0;
}

.error_message {
  color: red;
  height: 20px;
  flex-basis: 100%;
  font-size: 0.5rem;
}

.expenses {
  display: flex;
  gap: 10px;
  padding: 0 20px;
  border-radius: 30px;

  .cost {
    width: 130px;
    border-radius: 10px;
    color: $color-darkGray;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, $color-lightGray, $color-primary);
    padding: 15px 5px;
    font-size: 0.8rem;

    @include mq('md', max) {
      font-size: 0.6rem;
    }
  }
}
