@use '../../sass/global.scss' as *;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;

  h1 {
    z-index: 52;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16/9;
    position: relative;
    z-index: 52;
  }
}
