@use '../../sass/global' as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  @include slide-right();

  .cardContainer {
    width: 100%;
    overflow: hidden;
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    @include mq(sm) {
      flex-direction: row;
    }

    @include mq(md) {
      padding: 10px 60px;
    }
  }
}
